<a href="https://colab.research.google.com/github/AniruddhSrivatsa/AniruddhSrivatsa/blob/master/hackathon_customer_segmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
cust1=pd.read_csv("cust_seg.csv")
cust1.head()

       ID  Gender Ever_Married  ...  Family_Size  Var_1 Segmentation
0  462809    Male           No  ...          4.0  Cat_4            D
1  462643  Female          Yes  ...          3.0  Cat_4            A
2  466315  Female          Yes  ...          1.0  Cat_6            B
3  461735    Male          Yes  ...          2.0  Cat_6            B
4  462669  Female          Yes  ...          6.0  Cat_6            A

[5 rows x 11 columns]

In [ ]:
cust1.shape

(8068, 11)

In [ ]:
cust1.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [ ]:
cust1.groupby("Graduated")["Age"].median()

Graduated
No     32
Yes    43
Name: Age, dtype: int64

In [ ]:
df=cust1.copy()

In [ ]:
df_pop=df.copy()

In [ ]:
df1=pd.read_csv("cust_seg_test.csv")
df1.head()

       ID  Gender Ever_Married  ...  Spending_Score Family_Size  Var_1
0  458989  Female          Yes  ...             Low         1.0  Cat_6
1  458994    Male          Yes  ...         Average         4.0  Cat_6
2  458996  Female          Yes  ...             Low         1.0  Cat_6
3  459000    Male          Yes  ...            High         2.0  Cat_6
4  459001  Female           No  ...             Low         4.0  Cat_6

[5 rows x 10 columns]

In [ ]:
df.shape

(8068, 11)

In [ ]:
df1.shape

(2627, 10)

In [ ]:
df_pop.drop("Segmentation",axis=1,inplace=True)

In [ ]:
df_pop.shape

(8068, 10)

In [ ]:
df_test=pd.concat([df_pop,df1],axis=0)

In [ ]:
df_test.duplicated().sum()

136

In [ ]:
df_test.head()

       ID  Gender Ever_Married  ...  Spending_Score Family_Size  Var_1
0  462809    Male           No  ...             Low         4.0  Cat_4
1  462643  Female          Yes  ...         Average         3.0  Cat_4
2  466315  Female          Yes  ...             Low         1.0  Cat_6
3  461735    Male          Yes  ...            High         2.0  Cat_6
4  462669  Female          Yes  ...            High         6.0  Cat_6

[5 rows x 10 columns]

In [ ]:
df_test.shape

(10695, 10)

In [ ]:
df11=df_test[df_test.duplicated()]

In [ ]:
df.duplicated().sum()

0

In [ ]:
df11.head(5)

         ID  Gender Ever_Married  ...  Spending_Score Family_Size  Var_1
16   459036  Female          Yes  ...         Average         3.0  Cat_3
17   459039    Male          Yes  ...         Average         2.0  Cat_6
78   459223  Female          Yes  ...         Average         4.0  Cat_6
104  459320    Male          Yes  ...             Low         3.0  Cat_6
153  459447    Male          Yes  ...             Low         1.0  Cat_6

[5 rows x 10 columns]

In [ ]:
df_test.isna().sum()

ID                    0
Gender                0
Ever_Married        190
Age                   0
Graduated           102
Profession          162
Work_Experience    1098
Spending_Score        0
Family_Size         448
Var_1               108
dtype: int64

In [ ]:
df.isna().sum()

ID                   0
Gender               0
Ever_Married       140
Age                  0
Graduated           78
Profession         124
Work_Experience    829
Spending_Score       0
Family_Size        335
Var_1               76
Segmentation         0
dtype: int64

In [ ]:
df1.isna().sum()

ID                   0
Gender               0
Ever_Married        50
Age                  0
Graduated           24
Profession          38
Work_Experience    269
Spending_Score       0
Family_Size        113
Var_1               32
dtype: int64

In [ ]:
def func(cols):
  grad=cols[0]
  age=cols[1]

  if pd.isnull(grad):
       if(age>34):
         return "Yes"
       else:
         return "No"
  else:
    return(grad)

In [ ]:
df_test["Graduated"]=df_test[["Graduated","Age"]].apply(func,axis=1)

In [ ]:
df_test.groupby("Ever_Married")["Age"].median()

Ever_Married
No     30
Yes    49
Name: Age, dtype: int64

In [ ]:
def func1(cols):
  marr=cols[0]
  age=cols[1]

  if pd.isnull(marr):
       if(age>34):
         return "Yes"
       else:
         return "No"
  else:
    return(marr)

In [ ]:
df_test["Ever_Married"]=df_test[["Ever_Married","Age"]].apply(func1,axis=1)

In [ ]:
df_test.isna().sum()

ID                    0
Gender                0
Ever_Married          0
Age                   0
Graduated             0
Profession          162
Work_Experience    1098
Spending_Score        0
Family_Size         448
Var_1               108
dtype: int64

In [ ]:
df_test["Profession"].unique()

array(['Healthcare', 'Engineer', 'Lawyer', 'Entertainment', 'Artist',
       'Executive', 'Doctor', 'Homemaker', 'Marketing', nan], dtype=object)

In [ ]:
df_test["Profession"].value_counts()

Artist           3318
Healthcare       1750
Entertainment    1250
Engineer          935
Doctor            930
Lawyer            844
Executive         775
Marketing         403
Homemaker         328
Name: Profession, dtype: int64

In [ ]:
df_test.groupby("Profession")["Age"].median()

Profession
Artist           45
Doctor           35
Engineer         40
Entertainment    41
Executive        50
Healthcare       26
Homemaker        35
Lawyer           77
Marketing        33
Name: Age, dtype: int64

In [ ]:
df_test["Profession"].fillna(df_test["Profession"].mode()[0],inplace=True)

In [ ]:
df_test.groupby("Var_1")["Spending_Score"].value_counts()

Var_1  Spending_Score
Cat_1  Low                107
       Average             38
       High                22
Cat_2  Low                377
       Average            134
       High                52
Cat_3  Low                737
       Average            258
       High                94
Cat_4  Low                911
       Average            409
       High               155
Cat_5  Low                 80
       Average             26
       High                 8
Cat_6  Low               4039
       Average           1649
       High              1222
Cat_7  Low                175
       Average             60
       High                34
Name: Spending_Score, dtype: int64

In [ ]:
df_test.groupby("Var_1")["Age"].median()

Var_1
Cat_1    38
Cat_2    36
Cat_3    38
Cat_4    37
Cat_5    33
Cat_6    43
Cat_7    37
Name: Age, dtype: int64

In [ ]:
df_test["Var_1"].fillna(df_test["Var_1"].mode()[0],inplace=True)

In [ ]:
df_test.groupby("Family_Size")["Age"].median()

Family_Size
1.0    43.0
2.0    45.0
3.0    38.0
4.0    37.0
5.0    33.0
6.0    31.5
7.0    32.0
8.0    27.0
9.0    31.0
Name: Age, dtype: float64

In [ ]:
df_test.isna().sum()

ID                    0
Gender                0
Ever_Married          0
Age                   0
Graduated             0
Profession            0
Work_Experience    1098
Spending_Score        0
Family_Size         448
Var_1                 0
dtype: int64

In [ ]:
df_test["Family_Size"]=df_test["Family_Size"].fillna(df_test["Family_Size"].median())

In [ ]:
df_test["Work_Experience"]=df_test["Work_Experience"].fillna(df_test["Work_Experience"].median())

In [ ]:
df_test.isna().sum()

ID                 0
Gender             0
Ever_Married       0
Age                0
Graduated          0
Profession         0
Work_Experience    0
Spending_Score     0
Family_Size        0
Var_1              0
dtype: int64

In [ ]:
df_test.head()

       ID  Gender Ever_Married  ...  Spending_Score Family_Size  Var_1
0  462809    Male           No  ...             Low         4.0  Cat_4
1  462643  Female          Yes  ...         Average         3.0  Cat_4
2  466315  Female          Yes  ...             Low         1.0  Cat_6
3  461735    Male          Yes  ...            High         2.0  Cat_6
4  462669  Female          Yes  ...            High         6.0  Cat_6

[5 rows x 10 columns]

In [ ]:
col=["Gender","Ever_Married","Graduated","Profession"	,"Spending_Score","Var_1"]

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:
le=LabelEncoder()

In [ ]:
for i in col:
  df_test[i]=le.fit_transform(df_test[i])

In [ ]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10695 entries, 0 to 2626
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   ID               10695 non-null  int64
 1   Gender           10695 non-null  int64
 2   Ever_Married     10695 non-null  int64
 3   Age              10695 non-null  int64
 4   Graduated        10695 non-null  int64
 5   Profession       10695 non-null  int64
 6   Work_Experience  10695 non-null  float64
 7   Spending_Score   10695 non-null  int64
 8   Family_Size      10695 non-null  float64
 9   Var_1            10695 non-null  int64
dtypes: float64(2), int64(8)
memory usage: 919.1 KB

In [ ]:
df_test.head()

       ID  Gender  Ever_Married  ...  Spending_Score  Family_Size  Var_1
0  462809       1             0  ...               2          4.0      3
1  462643       0             1  ...               0          3.0      3
2  466315       0             1  ...               2          1.0      5
3  461735       1             1  ...               1          2.0      5
4  462669       0             1  ...               1          6.0      5

[5 rows x 10 columns]

In [ ]:
df_trains=df_test.iloc[0:8068]
df_tests=df_test.iloc[8068:10695]

In [ ]:
print(df_trains.shape,df_tests.shape)

(8068, 10) (2627, 10)

In [ ]:
df_trains.head()

       ID  Gender  Ever_Married  ...  Spending_Score  Family_Size  Var_1
0  462809       1             0  ...               2          4.0      3
1  462643       0             1  ...               0          3.0      3
2  466315       0             1  ...               2          1.0      5
3  461735       1             1  ...               1          2.0      5
4  462669       0             1  ...               1          6.0      5

[5 rows x 10 columns]

In [ ]:
cust1["Segmentation"]=cust1["Segmentation"].map({"A":1,"B":2,"C":3,"D":4})
cust1["Segmentation"].head()

0    4
1    1
2    2
3    2
4    1
Name: Segmentation, dtype: int64

In [ ]:
df_trains.head()

       ID  Gender  Ever_Married  ...  Spending_Score  Family_Size  Var_1
0  462809       1             0  ...               2          4.0      3
1  462643       0             1  ...               0          3.0      3
2  466315       0             1  ...               2          1.0      5
3  461735       1             1  ...               1          2.0      5
4  462669       0             1  ...               1          6.0      5

[5 rows x 10 columns]

In [ ]:
df_trains.drop("ID",inplace=True,axis=1)
df_tests.drop("ID",inplace=True,axis=1)

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [ ]:
df_trains.head()

   Gender  Ever_Married  Age  ...  Spending_Score  Family_Size  Var_1
0       1             0   22  ...               2          4.0      3
1       0             1   38  ...               0          3.0      3
2       0             1   67  ...               2          1.0      5
3       1             1   67  ...               1          2.0      5
4       0             1   40  ...               1          6.0      5

[5 rows x 9 columns]

In [ ]:
from lightgbm import LGBMClassifier

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
LGBMClassifier().get_params

<bound method LGBMModel.get_params of LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)>

In [ ]:
params1={"n_estimators":[50,100,150,200],"learning_rate":np.arange(0.05,0.7,0.05),"max_depth":[-1,3,4,5,6],"min_child_samples":[5,10,15,20],"min_child_weight":np.arange(0,0.03,0.005)}

In [ ]:
random_cv_lgbm=RandomizedSearchCV(estimator=LGBMClassifier(),param_distributions=params1,n_iter=15,n_jobs=-1,cv=7)

In [ ]:
df_trains.isna().sum()
cust1["Segmentation"].head()

0    4
1    1
2    2
3    2
4    1
Name: Segmentation, dtype: int64

In [ ]:
random_cv_lgbm.fit(df_trains,cust1["Segmentation"])

RandomizedSearchCV(cv=7, error_score=nan,
                   estimator=LGBMClassifier(boosting_type='gbdt',
                                            class_weight=None,
                                            colsample_bytree=1.0,
                                            importance_type='split',
                                            learning_rate=0.1, max_depth=-1,
                                            min_child_samples=20,
                                            min_child_weight=0.001,
                                            min_split_gain=0.0,
                                            n_estimators=100, n_jobs=-1,
                                            num_leaves=31, objective=None,
                                            random_state=None, reg_alpha=0.0,
                                            reg_lambda=0.0, sile...
                   param_distributions={'learning_rate': array([0.05, 0.1 , 0.15, 0.2 , 0.25, 0.3 , 0.35, 0.4 , 0.45, 0.5 , 0.55,
       0.6 , 0.65]),
                                        'max_depth': [-1, 3, 4, 5, 6],
                                        'min_child_samples': [5, 10, 15, 20],
                                        'min_child_weight': array([0.   , 0.005, 0.01 , 0.015, 0.02 , 0.025]),
                                        'n_estimators': [50, 100, 150, 200]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [ ]:
random_cv_lgbm.best_score_

0.5391670409490769

In [ ]:
random_cv_lgbm.best_estimator_

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.35000000000000003,
               max_depth=4, min_child_samples=15, min_child_weight=0.025,
               min_split_gain=0.0, n_estimators=50, n_jobs=-1, num_leaves=31,
               objective=None, random_state=None, reg_alpha=0.0, reg_lambda=0.0,
               silent=True, subsample=1.0, subsample_for_bin=200000,
               subsample_freq=0)

In [ ]:
random_cv_lgbm.best_params_

{'learning_rate': 0.35000000000000003,
 'max_depth': 4,
 'min_child_samples': 15,
 'min_child_weight': 0.025,
 'n_estimators': 50}

In [ ]:
random_cv_lgbm.best_index_

6

In [ ]:
pip install catboost

Collecting catboost
  Downloading https://files.pythonhosted.org/packages/90/86/c3dcb600b4f9e7584ed90ea9d30a717fb5c0111574675f442c3e7bc19535/catboost-0.24.1-cp36-none-manylinux1_x86_64.whl (66.1MB)
     |████████████████████████████████| 66.1MB 57kB/s
Requirement already satisfied: graphviz in /usr/local/lib/python3.6/dist-packages (from catboost) (0.10.1)
Requirement already satisfied: plotly in /usr/local/lib/python3.6/dist-packages (from catboost) (4.4.1)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.6/dist-packages (from catboost) (3.2.2)
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.0.5)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from catboost) (1.15.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.6/dist-packages (from catboost) (1.4.1)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from catboost) (1.18.5)
Requirement already satisfied: retrying>=1.3.3 in /usr/local/lib/python3.6/dist-packages (from plotly->catboost) (1.3.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.8.1)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (0.10.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (2.4.7)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.6/dist-packages (from matplotlib->catboost) (1.2.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.24.0->catboost) (2018.9)
Installing collected packages: catboost
Successfully installed catboost-0.24.1

In [ ]:
from catboost import CatBoostClassifier
from sklearn.ensemble import AdaBoostClassifier,GradientBoostingClassifier,RandomForestClassifier,StackingClassifier

In [ ]:
cats=CatBoostClassifier(iterations=100,learning_rate=0.05,depth=6,eval_metric="Accuracy")

In [ ]:
cats.fit(df_trains,cust1["Segmentation"])

0:	learn: 0.5060734	total: 6.99ms	remaining: 692ms
1:	learn: 0.5185920	total: 13.6ms	remaining: 667ms
2:	learn: 0.5215667	total: 19.8ms	remaining: 640ms
3:	learn: 0.5236738	total: 25.8ms	remaining: 618ms
4:	learn: 0.5256569	total: 33.3ms	remaining: 633ms
5:	learn: 0.5264006	total: 40.5ms	remaining: 635ms
6:	learn: 0.5292514	total: 46.7ms	remaining: 621ms
7:	learn: 0.5292514	total: 52.8ms	remaining: 608ms
8:	learn: 0.5307387	total: 59ms	remaining: 597ms
9:	learn: 0.5314824	total: 65.7ms	remaining: 591ms
10:	learn: 0.5322261	total: 71.6ms	remaining: 580ms
11:	learn: 0.5348290	total: 78ms	remaining: 572ms
12:	learn: 0.5358205	total: 84ms	remaining: 562ms
13:	learn: 0.5345811	total: 90ms	remaining: 553ms
14:	learn: 0.5355726	total: 96ms	remaining: 544ms
15:	learn: 0.5359445	total: 102ms	remaining: 536ms
16:	learn: 0.5359445	total: 108ms	remaining: 528ms
17:	learn: 0.5353247	total: 114ms	remaining: 520ms
18:	learn: 0.5361924	total: 120ms	remaining: 513ms
19:	learn: 0.5365642	total: 127ms	remaining: 507ms
20:	learn: 0.5354487	total: 133ms	remaining: 500ms
21:	learn: 0.5384234	total: 139ms	remaining: 493ms
22:	learn: 0.5386713	total: 146ms	remaining: 487ms
23:	learn: 0.5400347	total: 152ms	remaining: 482ms
24:	learn: 0.5405305	total: 158ms	remaining: 475ms
25:	learn: 0.5405305	total: 165ms	remaining: 470ms
26:	learn: 0.5413981	total: 171ms	remaining: 463ms
27:	learn: 0.5395389	total: 178ms	remaining: 457ms
28:	learn: 0.5412742	total: 184ms	remaining: 450ms
29:	learn: 0.5401587	total: 190ms	remaining: 444ms
30:	learn: 0.5411502	total: 197ms	remaining: 439ms
31:	learn: 0.5418939	total: 206ms	remaining: 437ms
32:	learn: 0.5428855	total: 213ms	remaining: 432ms
33:	learn: 0.5436292	total: 219ms	remaining: 425ms
34:	learn: 0.5448686	total: 226ms	remaining: 419ms
35:	learn: 0.5451165	total: 232ms	remaining: 413ms
36:	learn: 0.5458602	total: 238ms	remaining: 406ms
37:	learn: 0.5456123	total: 245ms	remaining: 399ms
38:	learn: 0.5449926	total: 251ms	remaining: 392ms
39:	learn: 0.5464799	total: 257ms	remaining: 386ms
40:	learn: 0.5470997	total: 263ms	remaining: 379ms
41:	learn: 0.5477194	total: 269ms	remaining: 372ms
42:	learn: 0.5472236	total: 275ms	remaining: 365ms
43:	learn: 0.5469757	total: 281ms	remaining: 358ms
44:	learn: 0.5482152	total: 288ms	remaining: 352ms
45:	learn: 0.5492067	total: 294ms	remaining: 345ms
46:	learn: 0.5480912	total: 300ms	remaining: 338ms
47:	learn: 0.5485870	total: 306ms	remaining: 332ms
48:	learn: 0.5477194	total: 312ms	remaining: 325ms
49:	learn: 0.5497025	total: 318ms	remaining: 318ms
50:	learn: 0.5489588	total: 324ms	remaining: 312ms
51:	learn: 0.5498265	total: 331ms	remaining: 305ms
52:	learn: 0.5490828	total: 337ms	remaining: 299ms
53:	learn: 0.5492067	total: 342ms	remaining: 292ms
54:	learn: 0.5492067	total: 349ms	remaining: 285ms
55:	learn: 0.5489588	total: 355ms	remaining: 279ms
56:	learn: 0.5494546	total: 361ms	remaining: 272ms
57:	learn: 0.5501983	total: 367ms	remaining: 266ms
58:	learn: 0.5495786	total: 372ms	remaining: 258ms
59:	learn: 0.5501983	total: 378ms	remaining: 252ms
60:	learn: 0.5499504	total: 383ms	remaining: 245ms
61:	learn: 0.5504462	total: 390ms	remaining: 239ms
62:	learn: 0.5513138	total: 396ms	remaining: 232ms
63:	learn: 0.5519336	total: 406ms	remaining: 228ms
64:	learn: 0.5524294	total: 413ms	remaining: 222ms
65:	learn: 0.5520575	total: 419ms	remaining: 216ms
66:	learn: 0.5537928	total: 425ms	remaining: 209ms
67:	learn: 0.5551562	total: 431ms	remaining: 203ms
68:	learn: 0.5556520	total: 437ms	remaining: 197ms
69:	learn: 0.5549083	total: 443ms	remaining: 190ms
70:	learn: 0.5552801	total: 450ms	remaining: 184ms
71:	learn: 0.5556520	total: 456ms	remaining: 177ms
72:	learn: 0.5554041	total: 462ms	remaining: 171ms
73:	learn: 0.5563956	total: 468ms	remaining: 164ms
74:	learn: 0.5557759	total: 474ms	remaining: 158ms
75:	learn: 0.5557759	total: 480ms	remaining: 152ms
76:	learn: 0.5577590	total: 486ms	remaining: 145ms
77:	learn: 0.5581309	total: 492ms	remaining: 139ms
78:	learn: 0.5585027	total: 498ms	remaining: 132ms
79:	learn: 0.5596182	total: 504ms	remaining: 126ms
80:	learn: 0.5596182	total: 510ms	remaining: 120ms
81:	learn: 0.5591225	total: 516ms	remaining: 113ms
82:	learn: 0.5591225	total: 522ms	remaining: 107ms
83:	learn: 0.5601140	total: 528ms	remaining: 101ms
84:	learn: 0.5597422	total: 534ms	remaining: 94.2ms
85:	learn: 0.5616014	total: 540ms	remaining: 87.9ms
86:	learn: 0.5612295	total: 546ms	remaining: 81.5ms
87:	learn: 0.5614774	total: 552ms	remaining: 75.2ms
88:	learn: 0.5616014	total: 567ms	remaining: 70.1ms
89:	learn: 0.5625930	total: 573ms	remaining: 63.7ms
90:	learn: 0.5618493	total: 579ms	remaining: 57.3ms
91:	learn: 0.5627169	total: 585ms	remaining: 50.9ms
92:	learn: 0.5642043	total: 591ms	remaining: 44.5ms
93:	learn: 0.5643282	total: 597ms	remaining: 38.1ms
94:	learn: 0.5638324	total: 608ms	remaining: 32ms
95:	learn: 0.5635845	total: 614ms	remaining: 25.6ms
96:	learn: 0.5642043	total: 620ms	remaining: 19.2ms
97:	learn: 0.5647000	total: 627ms	remaining: 12.8ms
98:	learn: 0.5654437	total: 633ms	remaining: 6.39ms
99:	learn: 0.5665592	total: 639ms	remaining: 0us

In [ ]:
cats.get_best_score()

{'learn': {'Accuracy': 0.5665592464055528, 'MultiClass': 1.0154546612691862}}

In [ ]:
AdaBoostClassifier().get_params()

{'algorithm': 'SAMME.R',
 'base_estimator': None,
 'learning_rate': 1.0,
 'n_estimators': 50,
 'random_state': None}

In [ ]:
RandomForestClassifier().get_params

<bound method BaseEstimator.get_params of RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)>

In [ ]:
params2={"max_depth":[4,6],"min_samples_leaf":[2,5,7],"max_leaf_nodes":[3,6],"n_estimators":[50,100,150,160,200],"random_state":[0],"min_samples_split":[3,4,5]}

In [ ]:
random_cv_rf=RandomizedSearchCV(RandomForestClassifier(),param_distributions=params2,n_iter=15,cv=7,n_jobs=-1)

In [ ]:
random_cv_rf.fit(df_trains,cust1["Segmentation"])

RandomizedSearchCV(cv=7, error_score=nan,
                   estimator=RandomForestClassifier(bootstrap=True,
                                                    ccp_alpha=0.0,
                                                    class_weight=None,
                                                    criterion='gini',
                                                    max_depth=None,
                                                    max_features='auto',
                                                    max_leaf_nodes=None,
                                                    max_samples=None,
                                                    min_impurity_decrease=0.0,
                                                    min_impurity_split=None,
                                                    min_samples_leaf=1,
                                                    min_samples_split=2,
                                                    min_weight_fraction_leaf=0.0,
                                                    n_estimators=100,
                                                    n_jobs...
                                                    random_state=None,
                                                    verbose=0,
                                                    warm_start=False),
                   iid='deprecated', n_iter=15, n_jobs=-1,
                   param_distributions={'max_depth': [4, 6],
                                        'max_leaf_nodes': [3, 6],
                                        'min_samples_leaf': [2, 5, 7],
                                        'min_samples_split': [3, 4, 5],
                                        'n_estimators': [50, 100, 150, 160,
                                                         200],
                                        'random_state': [0]},
                   pre_dispatch='2*n_jobs', random_state=None, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [ ]:
random_cv_rf.best_estimator_

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=4, max_features='auto',
                       max_leaf_nodes=6, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=7, min_samples_split=3,
                       min_weight_fraction_leaf=0.0, n_estimators=150,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [ ]:
random_cv_rf.best_score_

0.49913237465411137

In [ ]:
ada=AdaBoostClassifier(random_cv_rf.best_estimator_,n_estimators=100,learning_rate=0.4,random_state=0)

In [ ]:
ada.fit(df_trains,cust1["Segmentation"])

AdaBoostClassifier(algorithm='SAMME.R',
                   base_estimator=RandomForestClassifier(bootstrap=True,
                                                         ccp_alpha=0.0,
                                                         class_weight=None,
                                                         criterion='gini',
                                                         max_depth=6,
                                                         max_features='auto',
                                                         max_leaf_nodes=6,
                                                         max_samples=None,
                                                         min_impurity_decrease=0.0,
                                                         min_impurity_split=None,
                                                         min_samples_leaf=5,
                                                         min_samples_split=4,
                                                         min_weight_fraction_leaf=0.0,
                                                         n_estimators=200,
                                                         n_jobs=None,
                                                         oob_score=False,
                                                         random_state=0,
                                                         verbose=0,
                                                         warm_start=False),
                   learning_rate=0.4, n_estimators=100, random_state=0)

In [ ]:
ada.score(df_trains,cust1["Segmentation"])

0.5747397124442241

In [ ]:
GradientBoostingClassifier().get_params

<bound method BaseEstimator.get_params of GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=3,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=None, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)>

In [ ]:
params3={"max_depth":[2,3,4,5],"min_samples_leaf":[2,5,3,4],"max_leaf_nodes":[3,4,5,6],"n_estimators":[50,100,150,160,200],"random_state":[0],"min_samples_split":[3,4,5]}

In [ ]:
random_cv_gb=RandomizedSearchCV(GradientBoostingClassifier(),param_distributions=params3,n_iter=15,cv=7,n_jobs=-1,random_state=0)

In [ ]:
random_cv_gb.fit(df_trains,cust1["Segmentation"])

RandomizedSearchCV(cv=7, error_score=nan,
                   estimator=GradientBoostingClassifier(ccp_alpha=0.0,
                                                        criterion='friedman_mse',
                                                        init=None,
                                                        learning_rate=0.1,
                                                        loss='deviance',
                                                        max_depth=3,
                                                        max_features=None,
                                                        max_leaf_nodes=None,
                                                        min_impurity_decrease=0.0,
                                                        min_impurity_split=None,
                                                        min_samples_leaf=1,
                                                        min_samples_split=2,
                                                        min_weight_fraction_leaf=0.0,
                                                        n_estimators=100,
                                                        n_ite...
                                                        validation_fraction=0.1,
                                                        verbose=0,
                                                        warm_start=False),
                   iid='deprecated', n_iter=15, n_jobs=-1,
                   param_distributions={'max_depth': [2, 3, 4, 5],
                                        'max_leaf_nodes': [3, 4, 5, 6],
                                        'min_samples_leaf': [2, 5, 3, 4],
                                        'min_samples_split': [3, 4, 5],
                                        'n_estimators': [50, 100, 150, 160,
                                                         200],
                                        'random_state': [0]},
                   pre_dispatch='2*n_jobs', random_state=0, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [ ]:
random_cv_gb.best_estimator_

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=4,
                           max_features=None, max_leaf_nodes=4,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=5, min_samples_split=5,
                           min_weight_fraction_leaf=0.0, n_estimators=150,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=0, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [ ]:
random_cv_gb.best_score_

0.5368117505747602

In [ ]:
random_cv_gb.best_params_

{'max_depth': 4,
 'max_leaf_nodes': 4,
 'min_samples_leaf': 5,
 'min_samples_split': 5,
 'n_estimators': 150,
 'random_state': 0}

In [ ]:
import xgboost as xgb

In [ ]:
xgb.XGBClassifier().get_params()

{'base_score': 0.5,
 'booster': 'gbtree',
 'colsample_bylevel': 1,
 'colsample_bynode': 1,
 'colsample_bytree': 1,
 'gamma': 0,
 'learning_rate': 0.1,
 'max_delta_step': 0,
 'max_depth': 3,
 'min_child_weight': 1,
 'missing': None,
 'n_estimators': 100,
 'n_jobs': 1,
 'nthread': None,
 'objective': 'binary:logistic',
 'random_state': 0,
 'reg_alpha': 0,
 'reg_lambda': 1,
 'scale_pos_weight': 1,
 'seed': None,
 'silent': None,
 'subsample': 1,
 'verbosity': 1}

In [ ]:
xgb_params={"learning_rate":np.arange(0,0.3,0.05),"n_estimators":[50,100,150,160,200],"max_depth":[3,4,5],"subsample":np.arange(0.3,1.2,0.1),"min_child_weight":[1,2,3]}

In [ ]:
random_cv_xgb=RandomizedSearchCV(xgb.XGBClassifier(),param_distributions=xgb_params,n_iter=15,cv=6,n_jobs=-1,random_state=0)

In [ ]:
random_cv_xgb.fit(df_trains,cust1["Segmentation"])

RandomizedSearchCV(cv=6, error_score=nan,
                   estimator=XGBClassifier(base_score=0.5, booster='gbtree',
                                           colsample_bylevel=1,
                                           colsample_bynode=1,
                                           colsample_bytree=1, gamma=0,
                                           learning_rate=0.1, max_delta_step=0,
                                           max_depth=3, min_child_weight=1,
                                           missing=None, n_estimators=100,
                                           n_jobs=1, nthread=None,
                                           objective='binary:logistic',
                                           random_state=0, reg_alpha=0,
                                           reg_lambda=1, sc...
                                           verbosity=1),
                   iid='deprecated', n_iter=15, n_jobs=-1,
                   param_distributions={'learning_rate': array([0.  , 0.05, 0.1 , 0.15, 0.2 , 0.25]),
                                        'max_depth': [3, 4, 5],
                                        'min_child_weight': [1, 2, 3],
                                        'n_estimators': [50, 100, 150, 160,
                                                         200],
                                        'subsample': array([0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1])},
                   pre_dispatch='2*n_jobs', random_state=0, refit=True,
                   return_train_score=False, scoring=None, verbose=0)

In [ ]:
random_cv_xgb.best_estimator_

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.25, max_delta_step=0, max_depth=3,
              min_child_weight=3, missing=None, n_estimators=50, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=0.8000000000000003, verbosity=1)

In [ ]:
random_cv_xgb.best_score_

0.538053656251844

In [ ]:
random_cv_xgb.best_params_

{'learning_rate': 0.25,
 'max_depth': 3,
 'min_child_weight': 3,
 'n_estimators': 50,
 'subsample': 0.8000000000000003}

In [ ]:
y_pred=cats.predict(df_tests)

In [ ]:
print(y_pred[:5])

[[1]
 [2]
 [2]
 [3]
 [4]]

In [ ]:
submission=df1[["ID"]]

In [ ]:
poll=pd.DataFrame(y_pred)
poll.head()

   0
0  1
1  2
2  2
3  3
4  4

In [ ]:
submission=pd.concat([submission,poll],axis=1)

In [ ]:
submission.head()

       ID  0
0  458989  1
1  458994  2
2  458996  2
3  459000  3
4  459001  4

In [ ]:
submission.rename(columns={0:"Segmentation"},inplace=True)

In [ ]:
submission["Segmentation"]=submission["Segmentation"].map({1:"A",2:"B",3:"C",4:"D"})

In [ ]:
submission.head()

       ID Segmentation
0  458989            A
1  458994            B
2  458996            B
3  459000            C
4  459001            D

In [ ]:
submission.shape

(2627, 2)

In [ ]:
submission.to_csv("killbill1.csv")

In [ ]:
submission.isna().sum()

ID              0
Segmentation    0
dtype: int64

In [ ]:
submission.fillna(submission["Segmentation"])

In [ ]:
df_tests.shape

(2491, 9)

In [ ]:
y_pred_lgbm=random_cv_lgbm.predict(df_tests)

In [ ]:
submission1=df1[["ID"]]
poll1=pd.DataFrame(y_pred_lgbm)
submission1=pd.concat([submission1,poll1],axis=1)
submission1.rename(columns={0:"Segmentation"},inplace=True)
submission1["Segmentation"]=submission1["Segmentation"].map({1:"A",2:"B",3:"C",4:"D"})
submission1.to_csv("killbill2.csv")

In [ ]:
y_pred_ada=ada.predict(df_tests)

In [ ]:
submission2=df1[["ID"]]
poll2=pd.DataFrame(y_pred_ada)
submission2=pd.concat([submission2,poll2],axis=1)
submission2.rename(columns={0:"Segmentation"},inplace=True)
submission2["Segmentation"]=submission2["Segmentation"].map({1:"A",2:"B",3:"C",4:"D"})
submission2.to_csv("killbill_ada.csv")

In [ ]:
y_pred_xgb=random_cv_xgb.predict(df_tests)

In [ ]:
submission3=df1[["ID"]]
poll3=pd.DataFrame(y_pred_xgb)
submission3=pd.concat([submission3,poll3],axis=1)
submission3.rename(columns={0:"Segmentation"},inplace=True)
submission3["Segmentation"]=submission3["Segmentation"].map({1:"A",2:"B",3:"C",4:"D"})
submission3.to_csv("killbill_xgb.csv")

In [ ]:
y_pred_gb=random_cv_gb.predict(df_tests)

In [ ]:
submission4=df1[["ID"]]
poll4=pd.DataFrame(y_pred_gb)
submission4=pd.concat([submission4,poll4],axis=1)
submission4.rename(columns={0:"Segmentation"},inplace=True)
submission4["Segmentation"]=submission4["Segmentation"].map({1:"A",2:"B",3:"C",4:"D"})
submission4.to_csv("killbill_gb.csv")