<a href="https://colab.research.google.com/github/AniruddhSrivatsa/AniruddhSrivatsa/blob/master/hackathon_classification_of_research_papers.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
df=pd.read_csv("train.csv")
df.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [3]:
df.isna().sum()

ID                      0
TITLE                   0
ABSTRACT                0
Computer Science        0
Physics                 0
Mathematics             0
Statistics              0
Quantitative Biology    0
Quantitative Finance    0
dtype: int64

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20972 entries, 0 to 20971
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    20972 non-null  int64
 1   TITLE                 20972 non-null  object
 2   ABSTRACT              20972 non-null  object
 3   Computer Science      20972 non-null  int64
 4   Physics               20972 non-null  int64
 5   Mathematics           20972 non-null  int64
 6   Statistics            20972 non-null  int64
 7   Quantitative Biology  20972 non-null  int64
 8   Quantitative Finance  20972 non-null  int64
dtypes: int64(7), object(2)
memory usage: 1.4+ MB

In [5]:
df.shape

(20972, 9)

In [6]:
df1=df.copy()

In [7]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer

In [8]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [9]:
import nltk
from nltk.corpus import stopwords

In [10]:
df["ABSTRACT"][0]

"  Predictive models allow subject-specific inference when analyzing disease\nrelated alterations in neuroimaging data. Given a subject's data, inference can\nbe made at two levels: global, i.e. identifiying condition presence for the\nsubject, and local, i.e. detecting condition effect on each individual\nmeasurement extracted from the subject's data. While global inference is widely\nused, local inference, which can be used to form subject-specific effect maps,\nis rarely used because existing models often yield noisy detections composed of\ndispersed isolated islands. In this article, we propose a reconstruction\nmethod, named RSM, to improve subject-specific detections of predictive\nmodeling approaches and in particular, binary classifiers. RSM specifically\naims to reduce noise due to sampling error associated with using a finite\nsample of examples to train classifiers. The proposed method is a wrapper-type\nalgorithm that can be used with different binary classifiers in a diagnostic\nmanner, i.e. without information on condition presence. Reconstruction is posed\nas a Maximum-A-Posteriori problem with a prior model whose parameters are\nestimated from training data in a classifier-specific fashion. Experimental\nevaluation is performed on synthetically generated data and data from the\nAlzheimer's Disease Neuroimaging Initiative (ADNI) database. Results on\nsynthetic data demonstrate that using RSM yields higher detection accuracy\ncompared to using models directly or with bootstrap averaging. Analyses on the\nADNI dataset show that RSM can also improve correlation between\nsubject-specific detections in cortical thickness data and non-imaging markers\nof Alzheimer's Disease (AD), such as the Mini Mental State Examination Score\nand Cerebrospinal Fluid amyloid-$\\beta$ levels. Further reliability studies on\nthe longitudinal ADNI dataset show improvement on detection reliability when\nRSM is used.\n"

In [11]:
df1["ABSTRACT"]=df1["ABSTRACT"].str.lower()
df1["ABSTRACT"][0]
print(type(df1["ABSTRACT"][0]))

<class 'str'>

In [12]:
import re

In [13]:
df1["ABSTRACT"]=df1["ABSTRACT"].apply(lambda x: " ".join([info for info in x.split() if (info.isalpha()) ]))

Use any one , the above or below its just another way of removing unwanted symbols

In [ ]:
for i in range(len(df1["ABSTRACT"])):
  lucy=df1["ABSTRACT"][i]
  df1["ABSTRACT1"][i]=' '.join([lucy1 for lucy1 in re.split(r'[^A-Za-z]', lucy) if lucy1])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [14]:
df1["ABSTRACT"][0]

'predictive models allow inference when analyzing disease related alterations in neuroimaging given a inference can be made at two identifiying condition presence for the and detecting condition effect on each individual measurement extracted from the while global inference is widely local which can be used to form effect is rarely used because existing models often yield noisy detections composed of dispersed isolated in this we propose a reconstruction named to improve detections of predictive modeling approaches and in binary rsm specifically aims to reduce noise due to sampling error associated with using a finite sample of examples to train the proposed method is a algorithm that can be used with different binary classifiers in a diagnostic without information on condition reconstruction is posed as a problem with a prior model whose parameters are estimated from training data in a experimental evaluation is performed on synthetically generated data and data from the disease neuroimaging initiative results on synthetic data demonstrate that using rsm yields higher detection accuracy compared to using models directly or with bootstrap analyses on the adni dataset show that rsm can also improve correlation between detections in cortical thickness data and markers of disease such as the mini mental state examination score and cerebrospinal fluid further reliability studies on the longitudinal adni dataset show improvement on detection reliability when rsm is'

In [15]:
df2=df1.copy().head()

In [28]:
df1["ABSTRACT"]=df1["ABSTRACT"].apply(lambda x: " ".join([info for info in x.split() if  (info not in stopwords.words("english"))]))

In [30]:
df1["ABSTRACT"][0]

'predictive models allow inference analyzing disease related alterations neuroimaging given inference made two identifiying condition presence detecting condition effect individual measurement extracted global inference widely local used form effect rarely used existing models often yield noisy detections composed dispersed isolated propose reconstruction named improve detections predictive modeling approaches binary rsm specifically aims reduce noise due sampling error associated using finite sample examples train proposed method algorithm used different binary classifiers diagnostic without information condition reconstruction posed problem prior model whose parameters estimated training data experimental evaluation performed synthetically generated data data disease neuroimaging initiative results synthetic data demonstrate using rsm yields higher detection accuracy compared using models directly bootstrap analyses adni dataset show rsm also improve correlation detections cortical thickness data markers disease mini mental state examination score cerebrospinal fluid reliability studies longitudinal adni dataset show improvement detection reliability rsm'

In [24]:
df1["TITLE"]=df1["TITLE"].apply(lambda x: " ".join([info for info in x.split() if (info.isalpha()) ]))

In [19]:
df1["TITLE"]=df1["TITLE"].apply(lambda x: " ".join([info for info in x.split() if  (info not in stopwords.words("english"))]))

In [25]:
df1["TITLE"]=df1["TITLE"].str.lower()

In [26]:
df1["TITLE"][2]

'spherical polyharmonics poisson kernels polyharmonic functions'

In [36]:
df1.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [32]:
df1.drop("ABSTRACT1",axis=1,inplace=True)

In [34]:
df1.to_csv("hackathon34.csv",index=False)

In [35]:
d=pd.read_csv("hackathon34.csv")
d.head()

   ID  ... Quantitative Finance
0   1  ...                    0
1   2  ...                    0
2   3  ...                    0
3   4  ...                    0
4   5  ...                    0

[5 rows x 9 columns]

In [37]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.preprocessing.text import Tokenizer

In [38]:
for i in ["Computer Science","Physics","Mathematics","Statistics","Quantitative Biology","Quantitative Finance"]:
  print(df[i].sum()/len(df))

0.4097844745374785
0.28671562082777036
0.2678809841693687
0.24823574289528896
0.027989700553118443
0.011872973488460805

In [39]:
d_tok=d.copy()

In [40]:
ar=list(d_tok["TITLE"].astype("str"))

In [41]:
tokens=Tokenizer(oov_token="<OOV>")
tokens.fit_on_texts(ar)

In [42]:
word_index=tokens.word_index

In [43]:
vocab_size0=len(word_index)
vocab_size0

15325

In [44]:
sequences=tokens.texts_to_sequences(ar)

In [45]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [46]:
pad_sequences0=pad_sequences(sequences,padding="post")
pad_sequences0

array([[2592,   98,  248, ...,    0,    0,    0],
       [ 952, 1298,   10, ...,    0,    0,    0],
       [ 953, 7999,  853, ...,    0,    0,    0],
       ...,
       [2197, 3111,  272, ...,    0,    0,    0],
       [   7,   45,  128, ...,    0,    0,    0],
       [1746, 4606, 1754, ...,    0,    0,    0]], dtype=int32)

In [47]:
pad_sequences0.shape

(20972, 23)

In [49]:
ar1=list(d_tok["ABSTRACT"].astype("str"))

In [50]:
tokens1=Tokenizer(oov_token="<OOV>")
tokens1.fit_on_texts(ar1)

In [51]:
word_index1=tokens1.word_index

In [52]:
tokens1.num_words=20972

In [53]:
vocab_size1=len(word_index1)
vocab_size1

39738

In [54]:
sequences1=tokens1.texts_to_sequences(ar1)

In [55]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [56]:
pad_sequences1=pad_sequences(sequences1,padding="post")
pad_sequences1

array([[ 782,   24,  538, ...,    0,    0,    0],
       [1198, 2485, 1323, ...,    0,    0,    0],
       [  98,  163,  590, ...,    0,    0,    0],
       ...,
       [  25,   12,   15, ...,    0,    0,    0],
       [ 877, 8080, 3421, ...,    0,    0,    0],
       [7277, 3047, 1054, ...,    0,    0,    0]], dtype=int32)

In [57]:
pad_sequences1.shape

(20972, 217)

In [58]:
d_tok.drop("ID",axis=1,inplace=False)

                                                   TITLE  ... Quantitative Finance
0                             reconstructing effect maps  ...                    0
1                     rotation invariance neural network  ...                    0
2      spherical polyharmonics poisson kernels polyha...  ...                    0
3       a finite element approximation stochastic system  ...                    0
4      comparative study discrete wavelet transforms ...  ...                    0
...                                                  ...  ...                  ...
20967  contemporary machine guide practitioners physi...  ...                    0
20968  uniform diamond coatings hard alloy cutting in...  ...                    0
20969       analysing soccer games clustering conceptors  ...                    0
20970    on efficient simulation sum correlated variates  ...                    0
20971            why optional stopping problem bayesians  ...                    0

[20972 rows x 8 columns]

In [63]:
from tensorflow.keras.layers import Dense,Bidirectional,LSTM,Embedding,Input,concatenate,Dropout
from tensorflow.keras.models import Sequential,Model
from tensorflow.keras.callbacks import EarlyStopping

In [60]:
input_tensor0=Input(shape=(23,))
input_tensor1=Input(shape=(217,))

Now we create an embedding layer for both abstract and title

In [69]:
callbacks=EarlyStopping(monitor="val_accuracy",patience=3)

In [94]:
model=Sequential()
model.add(Embedding(input_dim=vocab_size0+2,output_dim=260,input_length=23))
model.add(Bidirectional(LSTM(180)))
model.add(Dense(6,activation="softmax"))

We will predict only using title here

In [95]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [98]:
model.fit(pad_sequences0,d_tok[["Computer Science","Physics","Mathematics","Statistics"	,"Quantitative Biology",	"Quantitative Finance"	]],validation_split=0.1,epochs=10,verbose=1,callbacks=[callbacks])

Epoch 1/10
590/590 [==============================] - 103s 174ms/step - loss: 1.7679 - accuracy: 0.5304 - val_loss: 1.5216 - val_accuracy: 0.4247
Epoch 2/10
590/590 [==============================] - 102s 173ms/step - loss: 1.4365 - accuracy: 0.7199 - val_loss: 1.6578 - val_accuracy: 0.7059
Epoch 3/10
590/590 [==============================] - 102s 173ms/step - loss: 1.5101 - accuracy: 0.7542 - val_loss: 1.8229 - val_accuracy: 0.7126
Epoch 4/10
590/590 [==============================] - 102s 173ms/step - loss: 1.6770 - accuracy: 0.7669 - val_loss: 2.0875 - val_accuracy: 0.7183
Epoch 5/10
590/590 [==============================] - 102s 173ms/step - loss: 1.8553 - accuracy: 0.7721 - val_loss: 2.5084 - val_accuracy: 0.7059
Epoch 6/10
590/590 [==============================] - 102s 173ms/step - loss: 2.2068 - accuracy: 0.7777 - val_loss: 2.9688 - val_accuracy: 0.6988
Epoch 7/10
590/590 [==============================] - 102s 173ms/step - loss: 2.5405 - accuracy: 0.7797 - val_loss: 3.2315 - val_accuracy: 0.7107

In [99]:
model.evaluate(pad_sequences0,d_tok[["Computer Science","Physics","Mathematics","Statistics"	,"Quantitative Biology","Quantitative Finance"	]])

656/656 [==============================] - 26s 40ms/step - loss: 2.6603 - accuracy: 0.7850

[2.660327196121216, 0.784951388835907]

In [78]:
model1=Sequential()
model1.add(Embedding(input_dim=vocab_size1+1,output_dim=320,input_length=240))
model1.add(Bidirectional(LSTM(210)))
model1.add(Dropout(0.1))
model1.add(Dense(6,activation="softmax"))

In [79]:
embed_layer=model1([input_tensor0,input_tensor1])

WARNING:tensorflow:Model was constructed with shape (None, 240) for input Tensor("embedding_5_input:0", shape=(None, 240), dtype=float32), but it was called on an input with incompatible shape (None, 23).

In [80]:
model2=Model([input_tensor0,input_tensor1],embed_layer)

In [81]:
model2.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [82]:
model2.fit([pad_sequences0,pad_sequences1],d_tok[["Computer Science","Physics","Mathematics","Statistics"	,"Quantitative Biology",	"Quantitative Finance"	]],validation_split=0.1,epochs=10,verbose=1,callbacks=[callbacks])

Epoch 1/10
WARNING:tensorflow:Model was constructed with shape (None, 240) for input Tensor("embedding_5_input:0", shape=(None, 240), dtype=float32), but it was called on an input with incompatible shape (None, 23).
WARNING:tensorflow:Model was constructed with shape (None, 240) for input Tensor("embedding_5_input:0", shape=(None, 240), dtype=float32), but it was called on an input with incompatible shape (None, 23).
590/590 [==============================] - ETA: 0s - loss: 1.8865 - accuracy: 0.4486WARNING:tensorflow:Model was constructed with shape (None, 240) for input Tensor("embedding_5_input:0", shape=(None, 240), dtype=float32), but it was called on an input with incompatible shape (None, 23).
590/590 [==============================] - 184s 312ms/step - loss: 1.8865 - accuracy: 0.4486 - val_loss: 1.6074 - val_accuracy: 0.6473
Epoch 2/10
590/590 [==============================] - 184s 311ms/step - loss: 1.5595 - accuracy: 0.6424 - val_loss: 1.6814 - val_accuracy: 0.7002
Epoch 3/10
590/590 [==============================] - 184s 312ms/step - loss: 1.6787 - accuracy: 0.6927 - val_loss: 1.8730 - val_accuracy: 0.7083
Epoch 4/10
590/590 [==============================] - 182s 309ms/step - loss: 1.7614 - accuracy: 0.7197 - val_loss: 2.1796 - val_accuracy: 0.7016
Epoch 5/10
590/590 [==============================] - 181s 308ms/step - loss: 2.0181 - accuracy: 0.7298 - val_loss: 2.4638 - val_accuracy: 0.6911
Epoch 6/10
590/590 [==============================] - 182s 309ms/step - loss: 2.3389 - accuracy: 0.7347 - val_loss: 2.8370 - val_accuracy: 0.6916

In [83]:
model2.evaluate([pad_sequences0,pad_sequences1],d_tok[["Computer Science","Physics","Mathematics","Statistics"	,"Quantitative Biology",	"Quantitative Finance"	]])

656/656 [==============================] - 31s 47ms/step - loss: 2.3626 - accuracy: 0.7768

[2.3626229763031006, 0.7767976522445679]

In [100]:
elements=["Computer Science","Physics","Mathematics","Statistics"	,"Quantitative Biology","Quantitative Finance"]

In [102]:
test=pd.read_csv("test.csv")
test.head()

      ID  ...                                           ABSTRACT
0  20973  ...    We present novel understandings of the Gamma...
1  20974  ...    Meteorites contain minerals from Solar Syste...
2  20975  ...    Frame aggregation is a mechanism by which mu...
3  20976  ...    Milky Way open clusters are very diverse in ...
4  20977  ...    Proving that a cryptographic protocol is cor...

[5 rows x 3 columns]

In [103]:
test["TITLE"]=test["TITLE"].str.lower()
test["ABSTRACT"]=test["ABSTRACT"].str.lower()

In [104]:
test.head()

      ID  ...                                           ABSTRACT
0  20973  ...    we present novel understandings of the gamma...
1  20974  ...    meteorites contain minerals from solar syste...
2  20975  ...    frame aggregation is a mechanism by which mu...
3  20976  ...    milky way open clusters are very diverse in ...
4  20977  ...    proving that a cryptographic protocol is cor...

[5 rows x 3 columns]

In [105]:
test["ABSTRACT"]=test["ABSTRACT"].apply(lambda x: " ".join([info for info in x.split() if (info.isalpha()) ]))

In [106]:
test["TITLE"]=test["TITLE"].apply(lambda x: " ".join([info for info in x.split() if (info.isalpha()) ]))

In [107]:
test["ABSTRACT"]=test["ABSTRACT"].apply(lambda x: " ".join([info for info in x.split() if (info not in stopwords.words("english")) ]))

In [108]:
test["TITLE"]=test["TITLE"].apply(lambda x: " ".join([info for info in x.split() if (info not in stopwords.words("english")) ]))

In [109]:
test.head()

      ID  ...                                           ABSTRACT
0  20973  ...  present novel understandings probabilistic mat...
1  20974  ...  meteorites contain minerals solar system aster...
2  20975  ...  frame aggregation mechanism multiple frames co...
3  20976  ...  milky way open clusters diverse terms chemical...
4  20977  ...  proving cryptographic protocol correct secrecy...

[5 rows x 3 columns]

In [110]:
test.shape

(8989, 3)

In [111]:
test["ABSTRACT"][1]

'meteorites contain minerals solar system asteroids different properties presence core provide new transmission spectra powdered meteorites obtain templates spectra asteroidal debris would look essential interpreting spectra past future space like james webb space show transmission spectra wet dry carbonaceous ordinary chondrites achondrite chondrite meteorites distinctly different way one distinguish astronomical two observables spectroscopically separate different meteorites groups thus different types parent feature strength ratio peak shift olivine spectral features due increase iron concentration'

In [112]:
test1=test.copy()

In [113]:
ar11=list(test1["ABSTRACT"].astype("str"))

In [115]:
tokens1.fit_on_texts(ar11)
word_index11=tokens1.word_index
print(len(word_index11))

46827

In [116]:
tokens1.num_words=20972

In [117]:
seqq1=tokens1.texts_to_sequences(ar11)
padd1=pad_sequences(seqq1,padding="post")

In [119]:
ar111=list(test1["TITLE"].astype("str"))

In [120]:
tokens.fit_on_texts(ar111)
word_index111=tokens.word_index
print(len(word_index111))

18049

In [121]:
seqq=tokens.texts_to_sequences(ar111)
padd=pad_sequences(seqq,padding="post")

In [123]:
y_pred2=model2.predict([padd,padd1])

In [127]:
y_pred2.shape

(8989, 6)

In [128]:
y_pred2[:10]

array([[3.4377098e-04, 9.9190533e-01, 5.1538292e-03, 1.4139367e-04,
        2.4556881e-03, 0.0000000e+00],
       [5.4516590e-01, 3.1593315e-02, 2.0262238e-01, 2.0997502e-01,
        1.0643325e-02, 0.0000000e+00],
       [1.3370982e-01, 1.8211381e-01, 6.0987258e-01, 5.3498644e-02,
        2.0805104e-02, 0.0000000e+00],
       [3.6712367e-02, 2.4935690e-01, 6.8093228e-01, 1.6558675e-02,
        1.6439846e-02, 0.0000000e+00],
       [5.7545517e-02, 2.5094467e-01, 6.4852166e-01, 2.4736427e-02,
        1.8251747e-02, 0.0000000e+00],
       [6.6945291e-01, 8.5013302e-04, 4.9635939e-02, 2.7869502e-01,
        1.3659085e-03, 0.0000000e+00],
       [5.5981833e-01, 4.8682732e-03, 1.8087219e-01, 2.5051910e-01,
        3.9220476e-03, 0.0000000e+00],
       [6.6803539e-01, 8.9585409e-04, 5.1551100e-02, 2.7810490e-01,
        1.4127353e-03, 0.0000000e+00],
       [5.3696162e-01, 2.2751037e-02, 2.1466024e-01, 2.1695210e-01,
        8.6749392e-03, 0.0000000e+00],
       [1.7104314e-01, 5.1762421e-02, 6.9346178e-01, 7.1084127e-02,
        1.2648590e-02, 0.0000000e+00]], dtype=float32)

In [130]:
elements[np.argmax(y_pred2[0])]

'Physics'

In [131]:
etoo=[]

for i in range(y_pred2.shape[0]):
   etoo.append(elements[np.argmax(y_pred2[i])])

In [132]:
id=test["ID"]

In [133]:
args=pd.DataFrame(etoo)
args

                     0
0              Physics
1     Computer Science
2          Mathematics
3          Mathematics
4          Mathematics
...                ...
8984       Mathematics
8985  Computer Science
8986  Computer Science
8987  Computer Science
8988           Physics

[8989 rows x 1 columns]

In [134]:
args[0].unique()

array(['Physics', 'Computer Science', 'Mathematics'], dtype=object)

In [135]:
joinn=pd.get_dummies(args)

In [136]:
zero1=np.zeros((8989,1))

In [137]:
joinn["Statistics"]=zero1
joinn["Quantitative Biology"]=zero1
joinn["Quantitative Finance"]=zero1

In [138]:
joinn=joinn.rename(columns={"0_Computer Science":"Computer Science","0_Mathematics":"Mathematics","0_Physics":"Physics"})

In [139]:
joinn.head()

   Computer Science  Mathematics  ...  Quantitative Biology  Quantitative Finance
0                 0            0  ...                   0.0                   0.0
1                 1            0  ...                   0.0                   0.0
2                 0            1  ...                   0.0                   0.0
3                 0            1  ...                   0.0                   0.0
4                 0            1  ...                   0.0                   0.0

[5 rows x 6 columns]

In [140]:
submission=pd.concat([id,joinn],axis=1)

In [141]:
submission.head()

      ID  Computer Science  ...  Quantitative Biology  Quantitative Finance
0  20973                 0  ...                   0.0                   0.0
1  20974                 1  ...                   0.0                   0.0
2  20975                 0  ...                   0.0                   0.0
3  20976                 0  ...                   0.0                   0.0
4  20977                 0  ...                   0.0                   0.0

[5 rows x 7 columns]

In [142]:
submission.isna().sum()

ID                      0
Computer Science        0
Mathematics             0
Physics                 0
Statistics              0
Quantitative Biology    0
Quantitative Finance    0
dtype: int64

In [143]:
submission.shape

(8989, 7)

In [144]:
submission.to_csv("sumbit.csv")